#{extends 'main.html' /}
#{set title:'Home' /}

 <div class="container">

      <!-- Using Javascript w/ Bootstrap
      ================================================== -->
      <section id="javascript">
      <div class="page-header">
      <div id="myRating" class="alert alert-block alert-success fade in hide">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Thanks for rating!</h4>
      </div>
      
      #{list items:businessesTable.rows, as:'row'}
      	<div class="row">
      	#{list row.columns, as:'column'}
	      	
	        <div class="span3 div-outline-purple well">
	          <address>
		        <strong>${column.value.name}</strong><div id="business${column.value.id}" class="rateit pull-right" entityId="${column.value.id}" data-rateit-value="2.5" data-rateit-ispreset="true" data-rateit-readonly="false" data-rateit-resetable="false"></div><br>
		        ${column.value.addresses[0].address1} <br>
		        ${column.value.addresses[0].city}, ${column.value.addresses[0].state} ${column.value.addresses[0].zip}<br>
		        #{if column.value.phone}
		        <abbr title="Phone"><i class="icon-home"></i>:</abbr> ${column.value.phone}
		        #{/if}
		        #{else}
		        <br>
		        #{/else}
		      </address>
	        </div>
        #{/list}
        </div>
       #{/list}     
       
    </section>
     <script type="text/javascript">
     %{
     	StringBuilder sb = new StringBuilder();
     	java.util.Iterator iter = businessesTable.values().iterator();
     	while(iter.hasNext()) {
     		sb.append(iter.next().value.id);
     		if(iter.hasNext()) {
     			sb.append(", ");
     		}
     	}
     %}
     
     var vals = [  ${sb.toString()} ];     
     for(var i=0; i<${businessesTable.values().size()}; i++) {
     	var divId = "#business" + vals[i] ;
    	$(divId).bind('rated', function (event, value) {
    											var source = event.target || event.srcElement;
    											$.ajax
    											({
								    				url: "@{Ratings.businessRating}",
								    				dataType: "json",
								    				data: 
								    				{
								    					businessId: source.getAttribute('entityId'),
								    					entityType: 'YellowPages',
								    					rating: value
								    				}
							    				});
							    		});
    };
	</script> 
    
 </div><!-- /container -->   
 