#{extends 'main.html' /}
#{set title:'Post a classified' /}

<h2>Post a classified</h2>

<div class="row">
	<div class="span8">
		#{form @Classifieds.post2(), enctype:'multipart/form-data'}
			#{ifErrors}
		        <div class="alert alert-error fade in">
		        <a class="close" data-dismiss="alert" href="#">&times;</a>
        		<strong> ${errors[0]}</strong>
		        </div>
		    #{/ifErrors}
		    %{
		    	pId;
		    	pTitle;
		    	pDesc;
		    	pCategoryId;
		    	pPrice;
		    	pCity;
		    	pPhone;
		    	if(classified != null) {
		    		pId = classified.id;
		    		pTitle = classified.title;
		    		pDesc = classified.description;
		    		pCategoryId = classified.categoryId.toString();
		    		pPrice = classified.price;
		    		pCity = classified.city;
		    		pPhone = classified.phone;
		    		pMode = "edit";		    		
		    	}else {
		    		pId = flash['classified.id'];
		    		pTitle = flash['classified.title'];
		    		pDesc = flash['classified.description'];
		    		pCategoryId = flash['classified.categoryId'];
		    		pPrice = flash['classified.price'];
		    		pCity = flash['classified.city'];
		    		pPhone = flash['classified.phone'];		
		    		pMode = "new";    		
		    	}	
		    }%
		    
		     <fieldset>
		          	<input type="hidden" name="classified.id" id="classified.id" value="${pId}">
		          	<input type="hidden" name="mode" id="mode" value="${pMode}">
         			<legend>Please fill in the form</legend>
		          	<div class="control-group">
		            	<div class="controls docs-input-sizes">
		              		<input type="text" class="span8" name="classified.title" id="classified.title" placeholder="Title" value="${pTitle}">
		            	</div>
          			</div>
          			<div class="control-group">
			            <div class="controls">
		              		<textarea class="span8" name="classified.description" id="classified.description" placeholder="Description" rows="15" cols="125">${pDesc}</textarea> 
			            </div>
			        </div>
			        <div class="control-group">
		            	<div class="controls">
			              		<input type="text" class="input-xlarge" name="classified.price" id="classified.price" placeholder="Price" value="${pPrice}">
		              		<p class="help-block">Optional</p>		              	
		            	</div>
          			</div>
          			<div class="control-group">
		            	<div class="controls">
			              	<input type="text"  name="classified.city" id="city" placeholder="City" value="${pCity}">
		              		<script type="text/javascript">
		              			$(document).ready(function() {
							    	$("#city").autocomplete({
							    		source: function(request, response){
							    			$.ajax({
							    				url: "@{City.listMatches}",
							    				dataType: "json",
							    				data: {
							    					term: request.term
							    				},
							    				success: function(data) {
							    					response(
							    						$.map(
							    							data,  	function(item) {
							    										return {
							    											value: item.name + ', ' + item.state
							    										}
							    								 	}
							    						)
							    					);
							    				}
							    			});
							    		},
							    		autofocus: true,
							    		minLength: 3,
							    		delay: 500
									}); //autocomplete
							  }); //ready
		              		</script>
		            	</div>
          			</div>
          			<div class="control-group">
			            <div class="controls">	
			              #{if "edit" == pMode}
			              	<select id="classified.categoryId" name="classified.categoryId" readonly="readonly">
			              #{/if}
			              #{else}
			              	<select id="classified.categoryId" name="classified.categoryId">
			              #{/else}
			                #{list items:categories, as:'category'} 			                  
			                   #{if pCategoryId != null && category.id.toString() == pCategoryId.toString()}
					    		<option value="${category.id}" selected="selected">${category.name}</option>
					    	   #{/if}
					    	   #{else}
					    	   	<option value="${category.id}" >${category.name}</option>
					    	   #{/else}
							#{/list} 
			              </select>
			            </div>
          			</div>
          			<div class="control-group">
		            	<div class="controls">
			              	<input type="text" class="input-xlarge" name="classified.phone" id="classified.phone" placeholder="Phone xxx-xxx-xxxx" value="${pPhone}">
		            	</div>
          			</div>
          			<div class="control-group">
		            	<div class="controls">
			              	<input type="file" draggable="true" name="boundFiles" id="boundFiles" multiple="multiple" value="${flash.boundFiles}">
		              		<strong>(Max. 4 photos)</strong> <span class="error"> #{error 'files' /}
		            	</div>
          			</div>
          			<div class="control-group">
		            	<div class="controls">
		            		 <label class="control-label" for="code">Please type the verification code below</label>
		            		 <img src="@{Application.captcha(randomID)}" />		            		 
		            		 <p>
		              		 <input type="text" class="input-xlarge" name="code" id="code" placeholder="Verification Code">
		              		 <input type="hidden" name="randomID" value="${randomID}" />
		              		 </p>
		              		 		              	
		            	</div>
          			</div>
          			<div class="form-actions">
            			<button type="submit" class="btn btn-primary">Save</button>
            			<a href="@{Application.index}">
            			<button class="btn">Cancel</button>
            			</a>
          			</div>
        	</fieldset>
		   
		#{/form}
		
	</div><!-- span8 -->	
</div> <!-- row -->
