#{extends 'main.html' /}
#{set title:'Home' /}

 <div class="container">

      <!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <div class="subnav">
          <ul class="nav nav-pills">
            <li><a href="@{Classifieds.enter()}"><i class="icon-edit"></i> Create New</a></li>
            <li><a href="@{Classifieds.latest()}"><i class="icon-time"></i> Latest</a></li>
            <li><a href="@{Classifieds.popular()}"><i class="icon-eye-open"></i> Popular</a></li>            
            <li><a href="@{Classifieds.liked()}"><i class="icon-heart"></i> Liked</a></li>            
            <li><a href=""@{Classifieds.featured()}""><i class="icon-star-empty"></i> Featured</a></li>
          </ul>
        </div>
      </header>
      
      <!-- Using Javascript w/ Bootstrap
      ================================================== -->
      <section id="javascript">
      <div class="page-header">
        <h1>Classifieds <small>Find the stuff you need !!</small></h1>
      </div>
      #{list items:categoriesTable.rows, as:'row'}
      	<div class="row">
      	#{list row.columns, as:'column'}
	      	
	        <div class="span3">
	          <label>
	            <h3><a href="@{Classifieds.list(column.value.id, column.value.name, 1, true)}">${column.value.name}</a></h3>
	            #{list subCategoryMap.get(column.value.name), as:'subcategory'}
	            <p><a href="@{Classifieds.list(subcategory.id, subcategory.name, 1, false)}">${subcategory.name}</a></p>
	            #{/list}
	          </label>
	        </div>
        #{/list}
        </div>
       #{/list}     
      <div class="alert alert-info"><strong>Heads up!</strong> You must be 18 or older to post any classifieds</div>
    </section>
 </div><!-- /container -->    