#{extends 'main.html' /}
#{set title:'Home' /}
<section id="javascript">
	<div class="container">

	<!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <div class="subnav">
          <ul class="nav nav-pills">
            <li><a href="@{Classifieds.enter()}"><i class="icon-edit"></i> Create New</a></li>
            <li><a href="@{Classifieds.latest(categoryId, categoryName, page, isParent)}"><i class="icon-time"></i> Latest</a></li>
            <li><a href="@{Classifieds.popular(categoryId, categoryName, page, isParent)}"><i class="icon-eye-open"></i> Popular</a></li>            
            <li><a href="@{Classifieds.liked(categoryId, categoryName, page, isParent)}"><i class="icon-heart"></i> Liked</a></li>            
            <li><a href="@{Classifieds.featured(categoryId, categoryName, page, isParent)}"><i class="icon-star-empty"></i> Featured</a></li>
          </ul>
        </div>
      </header>
      	
      <h3>Refine</h3>
    </div> <!-- /container -->
	<form class="well form-inline" action="@{Classifieds.search()}" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
	  <label><h4>Price From</h4></label>
	  <input type="text" name="priceFrom" class="input-small" />
	  <label><h4>Price To</h4></span></label>
	  <input type="text" name="priceTo" class="input-small" />
	  <label><h4>City</h4></label>
	  <input type="text" placeholder="City" id="city" name="city"  class="input-medium" />
	  <script type="text/javascript">
  			$(document).ready(function() {
		    	$("#city").autocomplete({
		    		source: function(request, response){
		    			$.ajax({
		    				url: "@{City.listMatches}",
		    				dataType: "json",
		    				data: {
		    					term: request.term
		    				},
		    				success: function(data) {
		    					response(
		    						$.map(
		    							data,  	function(item) {
		    										return {
		    											value: item.name + ', ' + item.state
		    										}
		    								 	}
		    						)
		    					);
		    				}
		    			});
		    		},
		    		autofocus: true,
		    		minLength: 3,
		    		delay: 500
				}); //autocomplete
		  }); //ready
  		</script>
  	  <input type="hidden" name="categoryId" value="${categoryId}">
  	  <input type="hidden" name="categoryName" value="${categoryName}">
  	  <input type="hidden" name="isParent" value="${isParent}">
  	  <input type="hidden" name="page" value="${page}">
	  <button type="submit" class="btn">Search</button>
	</form>
	<h2>${statsType} Classifieds #{if categoryName}in ${categoryName}#{/if}</h2>
	<div class="container">
      	<table class="table table-striped">
		  <thead>
		    <tr>
		      <th></th>
		      <th>Title</th>
		      <th>Price</th>
		      <th>City</th>
		      <th>Posted At</th>
		    </tr>
		  </thead>
		  <tbody>
		    #{if classifieds.size() }
			   	#{list classifieds, as: 'classified'}
			    <tr>
			      <td>#{if classified.numImages() > 0}<i class="icon-camera"></i>#{/if}</td>
			      <td><a href="@{Classifieds.view(classified.id)}">${classified.title}</a></td>
			      <td>${classified.price}</td>
			      <td>${classified.city}</td>
			      <td>${classified.postedAt}<td>
			    </tr>
			  	#{/list}
		  	#{/if}
		  	#{else}
		  		 <tr>
		  		  <td</td>
			      <td>No classifieds posted ... </td>
			      <td></td>
			      <td></td>
			      <td><td>
			    </tr>
		  	#{/else}
		  </tbody>
		</table>
	</div><!-- /container -->   
</section> 