#{extends 'main.html' /}
#{set title:'Home' /}
<section id="javascript">
	<div class="container">

      <h1>My Classifieds</h1>
      <p></p>
    </div> <!-- /container -->
    
	<div class="container">
      	<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Title</th>
		      <th>Price</th>
		      <th>City</th>
		      <th>Posted At</th>
		      <th>Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    #{if classifieds.size() }
			   	#{list classifieds, as: 'classified'}
			    <tr>
			      <td><a href="@{Classifieds.view(classified.id)}">${classified.title}</a></td>
			      <td>${classified.price}</td>
			      <td>${classified.city}</td>
			      <td>${classified.postedAt}</td>
			      <td>
			      	<a class="btn" href="@{Classifieds.edit(classified.id)}"><i class="icon-edit"></i> Edit</a>
			      	<a class="btn" href="#"><i class="icon-refresh"></i> Renew</a>
			      	<a class="btn btn-danger" href="@{Classifieds.delete(classified.id)}"><i class="icon-trash icon-white"></i> Delete</a>
			      </td>
			    </tr>
			  	#{/list}
		  	#{/if}
		  	#{else}
		  		 <tr>
			      <td>No classifieds posted ... </td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
		  	#{/else}
		  </tbody>
		</table>
	</div><!-- /container -->   
</section> 