#{extends 'main.html' /}
#{set title:'Post a classified' /}

#{if flash.success}
	 <div class="alert alert-success fade in">
	    <a class="close" data-dismiss="alert" href="#">&times;</a>
		<strong> ${flash.success}</strong>
	  </div>
#{/if}
<section id="submitResult">
	<div class="well">
	    <div class="pull-right">
		  <a class="btn btn-info" href="@{Classifieds.like(classified.id)}"><i class="icon-heart icon-white"></i> Like</a>		  
		  <a class="btn btn-inverse" href="@{Classifieds.spam(classified.id)}"><i class="icon-share-alt icon-white"></i> Spam</a>
		  <a class="btn btn-danger" href="@{Classifieds.reportAbuse(classified.id)}"><i class="icon-eye-open icon-white"></i> Report Abuse</a>
		</div>
        <h2>${classified.title}</h2>
        <p>        
        #{if classified.price}
        <blockquote>
        Price: <h3>${classified.price}</h3>
        </blockquote>
        #{/if}
        #{if classified.city}
        City: ${classified.city} 
        #{/if}
        #{if classified.phone}
        | Phone: ${classified.phone} 
        #{/if}
        <h2>Description</h2>        
        #{if classified.description}
        <pre>
        ${classified.description}
        </pre>
        #{/if}
        #{else}
        <h4>No description found ..</h4>
        #{/else} 
	</div>
</section>
#{if classified.numImages() > 0}	
<section id="carousel">
      <div class="page-header">
        <h2>Photos</h2>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>&nbsp;</h3>
        </div>
		<div class="span5 columns">
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">              
                <img src="@{Classifieds.getImage(classified.id, 1)}" alt="">
                <div class="carousel-caption">
                  <h4>1>></h4>
                </div>
              </div>
              #{if classified.numImages() > 1}
              #{list items:2..classified.numImages(), as:'i'}
			    <div class="item">
                <img src="@{Classifieds.getImage(classified.id, i)}" alt="">
              	<div class="carousel-caption">
              	  #{if i < classified.numImages()}
                    <h4><<${i}>></h4>
                  #{/if}
                  #{else}
                    <h4><<${i}</h4>
                  #{/else}
                </div>
              </div>
			  #{/list}
              #{/if}      
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
         <script type="text/javascript"> $(document).ready(function(){ 
			$('#myCarousel').carousel({ 
			 interval: 3000 
			}); 
			}); 
			$('#myCarousel').hover(
		    function() {
		        $(this).carousel('pause');
		    },
		    function() {
        		$(this).carousel('cycle');
    		}
			);
			</script>
      </div>  
      </div>
</section>     
#{/if}
